# Приватные файлы
usefull_info.md
/test
latest.heroku.dump
.env
*.xml

# Файлы, создаваемые приложением
*.pyc
*.log
*.retry
__pycache__/
.idea/
.vagrant/

# Статика
test/*
static/**
bower_components
/media
/collect_static
/whl/
