Django==1.9.5
PyYAML==3.11
beautifulsoup4==4.5.1
cloudinary==1.5.0
currencylayer==1.0
dj-database-url==0.4.1
django-bootstrap3-datetimepicker-2==2.4.2
django-debug-toolbar==1.5
django-hstore==1.4.2
django-mptt==0.8.3
gunicorn==19.6.0
html5lib==0.999999999
humanfriendly==2.1
lxml==3.6.0
psycopg2==2.6.1
pytz==2016.7
requests==2.11.1
selenium==2.53.6
six==1.10.0
sqlparse==0.2.1
urllib3==1.19.1
webencodings==0.5
whitenoise==3.2.1
