{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}
{% load static %}

{# Блок включает CSS для кастомизации отображения списка картинок на странице редактирования компонента.#}
{% block extrastyle %}

  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "inline_images_upload.css" %}" />
  <link rel="stylesheet" type="text/css" href="{% static "featherlight_loader.css" %}" />
{#  <link rel="stylesheet" type="text/css" href="{% static ".css" %}" />#}
  <link href="//cdn.rawgit.com/noelboss/featherlight/1.5.0/release/featherlight.min.css" type="text/css" rel="stylesheet" />
  <script src="//code.jquery.com/jquery-latest.js"></script>
  <script src="//cdn.rawgit.com/noelboss/featherlight/1.5.0/release/featherlight.min.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}


{% block after_related_objects %}

<div class="submit-row">
  {% if original.sparetype.name == 'cpu' %}
    <input type="submit" value="Load CPU data" class="default" name="_load_cpu_data" />
  {% endif %}

  {#  _load_component_properties handled by inventory/admin.py, class 'ComponentAdmin', method 'response_change' #}
  <input type="submit" value="Load component properties" class="default" name="_load_component_properties" />
</div>

{% endblock %}