{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}
{% load static %}

{% block after_related_objects %}
  {% if request.user.is_superuser %}
    <div class="submit-row">

      {#  Надо придумать, как не показывать кнопку, если это форма Новый Компьютер {% if admin_form.model_admin.show_container %}#}
      {#  _add_component handled by inventory/admin.py, class 'ComputerMPTTAdmin', method 'response_change' #}
      <input type="submit" value="Add Component to this Computer" class="default" name="_add_component" />
      {#  {% endif %}#}

    </div>
  {% endif %}
{% endblock %}


{% block submit_buttons_bottom %}
  {% if request.user.is_superuser %}
    {{ block.super }}
  {% endif %}
{% endblock %}