/* Tab Content */
.tab-pane {
    padding: 10px;
}

table {
    width: 100%;
}

.btn-margin-left {
    margin-left: 5px;
}
.btn-margin-right {
    margin-right: 5px;
}
.btn.nohover:hover {
    cursor:default !important;

    color: black;
    text-decoration: none;
    background-color: white;
    background-position: 0 -15px;

    /* transition is only when going to hover, otherwise the background*/
    /* behind the gradient (there for IE<=9 fallback) gets mismatched*/
    .transition(background-position .1s linear);
}